

body {
    font-family: sans-serif;
    background-color: rgb(190, 190, 240);
}

.header-footer {
    background-color: lightcoral;
    color: darkgreen;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

nav {
    text-align: center;
}

#main-nav a {
    margin: 0 15;
}

#main-nav a:hover {
    background-color: lightblue
}

.content-box {
    display: flex;
    margin: 10px;
}

.main-content {
    width: 65%;
    background-color: lightpink;
    margin: 10px;
    padding: 10px;
    font-family: cursive;
}

#name:focus {
    width: 250px;
}

.sidebar {
    background-color: lightseagreen;
    width: 40%;
    margin: 10px;
    padding: 20px;
}

.sidebar:hover {
    background-color: lightsalmon
}